{% extends 'budgetdb/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signup Form{% endblock %}

{% csrf_token %}

{% block content %}
    <style>
        /* Centers the card on the page vertically and horizontally */
        .password-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            /* Subtracting navbar height (70px) + some margin */
            min-height: calc(100vh - 150px);
        }

        .password-card {
            width: 100%;
            max-width: 450px;
            border: none;
            border-radius: 1rem;
        }

        .password-card .card-body {
            padding: 2rem;
        }
    </style>

    <div class="password-wrapper">
        <div class="card password-card shadow-sm border">
            <div class="card-body">
                <h2 class="text-center mb-4">New password saved</h2>
                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'budgetdb:login' %}">Log in</a> now.
                    </p>
            </div>
        </div>
    </div>
{% endblock %}