<!doctype html>
<html lang="en-ca" data-bs-theme="{{preference_mode}}">
    <body>
        <div style="background-color: #c2c2c2; padding: 15px;">
            <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #5865F2; color: #ffffff;">Password Reset Email</h2>
            <div style="margin: 0; padding: 15px; background-color: #ffffff;">
                <p>Hi</p>
                <p>This is a forgotten passwort reset email for {{domain}}</p>
                <p>If you haven't asked for it, just ignore this email</p>
                <p>To create a new password, just click on the link and select a new one.</p>
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="border: 0; color: #ffffff; background-color: #5865F2; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">         
                    New Password Link
                </a>
                <p style="margin-top: 40px;">Or you can copy the link below to your browser</p>
                <p style="color: #5865F2;">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
            </div>
        </div>
    </body>
</html>