-c requirements.txt
astroid
codecov-cli
coverage
iniconfig
isort
lxml
mccabe
platformdirs
pluggy
pycodestyle
pycparser
pyee
Pygments
pypdfium2
pytest
pytest-base-url
pytest-cov
pytest-django
responses
test_results_parser
tomli
tomlkit
ruff