  
  /* Table column formatting */
  
    td.min {
        width: 1%;
        white-space: nowrap;
    }
  /* List formatting, color by transaction caracteristics */
  
  tr.AUDIT {
    --bs-table-bg: rgb(147, 154, 185)
  }
  tr.UNVERIFIED.BUDGET {
    --bs-table-bg: rgb(78, 167, 240)
  }
  tr.UNVERIFIED {
    --bs-table-bg: rgb(252, 221, 156)
  }
  tr.UNVERIFIED.MANUAL.NORECEIPT {
    --bs-table-bg: rgb(233, 111, 90)
  }
  tr.UNVERIFIED.RECEIPT {
    --bs-table-bg: rgb(177, 219, 230)
  }
  
  /* check buttons by verified and receipt status */  

   span.NORECEIPT::before {
     font-family: "Material Symbols Outlined";
     content: "\e835";
   }
   span.RECEIPT::before {
     font-family: "Material Symbols Outlined";
     content: "\e834";
   }

   span.UNVERIFIED::before {
    font-family: "Material Symbols Outlined";
    content: "\e835";
  }
  span.VERIFIED::before {
    font-family: "Material Symbols Outlined";
    content: "\e834";
  }
  

   