
#navtools {
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    width: 99%;
    height: 9.5%;
  }
  
  #content {
    position: absolute;
    top: 10.5%;
    left: 2%;
    width: 96%;
  }
  
  #footer {
    position: fixed;
    top: 85%;
    left: 10.2%;
    width: 88%;
    height: 9.5%;
  }
  
  /* List formatting, color by Transaction type */
  
  tr.AUDIT {
    background-color: rgb(44, 61, 141)
  }
  tr.BUDGET {
    background-color: rgb(78, 167, 240)
  }
  tr.UNVERIFIED {
    background-color: rgb(252, 221, 156)
  }
  
  
  /* Menu formatting */
  
  #li_range {
    width: 500px;
    
    color: #fff; 
    background: #111; 
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
  nav {    
      display: block;
      text-align: center;
  }
  nav ul {
      margin: 0;
      padding:0;
      list-style: none;
  }
  
  .nav li a {
      background: #111; 
  }
  .nav li li a {
      background: rgb(90, 61, 61); 
  }
  .nav li li li a {
      background: rgb(151, 63, 63); 
  }
  .nav a {
      display:block; 
      color: #fff; 
      text-decoration: none;
      padding: 0.8em 1.8em;
      text-transform: uppercase;
      font-size: 80%;
      letter-spacing: 1px;
      text-shadow: 0 -1px 0 #000;
      position: relative;
      height: 19px;
  
  }
  .nav{  
      vertical-align: top; 
      display: inline-block;
      box-shadow: 
        1px -1px -1px 1px #000, 
        -1px 1px -1px 1px #fff, 
        0 0 6px 3px #fff;
      border-radius:6px;
  }
  .nav li {
      position: relative;
      list-style-type: none;
  }
  .nav > li { 
      float: left; 
      margin-right: 1px; 
  } 
  .nav li:hover > a { 
      color:orange; 
  }
  .nav > li:last-child { 
      border-radius: 0 0 4px 0; 
      margin-right: 0;
  } 
    
  .nav li li a { 
      margin-top: 1px;
      left: -40px; 
  }
  .nav li li li { 
      margin-top: 1px;
      left: -40px; 
  }
    
    
  .nav > li li:first-child > a { 
      border-radius: 0 0 0 0;
  } 
  .nav > li li:last-child > a { 
      border-radius: 0 0 4px 4px; 
      margin-right: 0;
  } 
    
    
  .nav > li:first-child > a { 
      border-radius: 4px 0 0 4px;
  }
  .nav > li:last-child > a { 
      border-radius: 0 4px 4px 0;
  }
    
  .nav li a:first-child:nth-last-child(2):before { 
      content: ""; 
      position: absolute; 
      height: 0; 
      width: 0; 
      border: 5px solid transparent; 
      top: 50% ;
      right:5px;  
  }
    
  /* submenu positioning*/
  /* normal position is waaaaay left */
  .nav ul {
      list-style-type: none;
      position: absolute;
      white-space: nowrap;
      z-index: 1;
      left: -5000em;
  }
  /* hover brings them back */
  .nav > li:hover > ul {
      left: auto;
      min-width: 100%;
  }
  .nav > li li:hover > ul { 
      left: 100%;
      margin-left: 1px;
      top: -1px;
  }
  /* arrow hover styling */
  .nav > li > a:first-child:nth-last-child(2):before { 
      border-top-color: #aaa; 
  }
  .nav li li > a:first-child:nth-last-child(2):before {  
      border-left-color: #aaa; 
      margin-top: -5px
  }
  .nav li li:hover > a:first-child:nth-last-child(2):before {
      border: 5px solid transparent; 
      border-right-color: orange;
      right: 10px; 
  }
    
        
         
        