<script type="text/javascript">
(function($) {
    $(function() {
        // Use delegation to ensure it works even when the modal content is replaced/reloaded
        $(document).on('change', '#id_cat1', function () {
            var url = "{% url 'budgetdb:ajax_load_cat2' %}";
            var cat1Id = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'cat1': cat1Id
                },
                success: function (data) {
                    var $cat2 = $("#id_cat2");
                    
                    // Update the subcategory dropdown HTML content
                    $cat2.html(data);
                    
                    // If id_cat2 is a Select2 field, we notify it that the options changed
                    // if ($cat2.hasClass("django-select2") || $cat2.data('select2')) { $cat2.trigger('change');  }
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error loading subcategories: " + error);
                }
            });
        });
    });
})(jQuery);
</script>