{% extends "budgetdb/base.html" %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" type="text/css" href="{% static 'budgetdb/style.css' %}">

{% block title %}Account List{% endblock %}

{% block content %}
<style>
    tbody>tr>:nth-child(2){
      text-align:right;
    }
    tbody>tr>:nth-child(3){
      text-align:right;
    }
    tbody>tr>:nth-child(4){
      text-align:right;
    }
    tbody>tr>:nth-child(5){
      text-align:right;
    }
</style>


{% if account_list %}
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Host</th>
        <th>parent</th>
        <th>Category</th>
    </tr>
    {% for account in account_list %}
    <tr>
        <td><a href="{% url 'budgetdb:account_max_redirect' account.id %}">{{ account.name }}</a></td>
        
        <td><a href="{% url 'budgetdb:update_accounthost' account.account_host.id %}">{{ account.account_host }}</a></td>
        {% if account.account_parent == None %}
            <td></td>
        {% else %}
            <td><a href="{% url 'budgetdb:update_account' account.account_parent.id %}">{{ account.account_parent }}</a></td>
        {% endif %}     
        {% if account.account_cat == None %}
            <td></td>
        {% else %}
            <td><a href="{% url 'budgetdb:accountcat_view_list_json' %}">{{ account.account_cat }}</a></td>
        {% endif %}     
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No accounts are available.</p>
{% endif %}

<div class="clearfix">
    <a class="btn btn-info top" href="{% url 'budgetdb:create_account' %}">Create new account</a>
</div>

{% endblock %}