{% extends "budgetdb/base.html" %}

{% block title %}{{ account_name }}{% endblock %}


{% block content %}

<style>
tbody>tr>:nth-child(1){
 width:130px;
 text-align:left;
}
tbody>tr>:nth-child(2){
 width:300px;
 text-align:left;
}
tbody>tr>:nth-child(3){
 width:120px;
 text-align:left;
}
tbody>tr>:nth-child(4){
 width:120px;
 text-align:left;
}
tbody>tr>:nth-child(5){
 width:100px;
 text-align:right;
}
tbody>tr>:nth-child(6){
 width:100px;
 text-align:right;
}
tr.AUDIT {
  background-color: lightsalmon
}
tr.BUDGET {
  background-color: rgb(78, 167, 240)
}


</style>
<div class="clearfix">
    {% for account in account_list  %}
    <a class="btn btn-info left" href="{% url 'budgetdb:list_account_activity' account.id %}?begin={{ begin }}&end={{ end }}"> {{account.name}} </a>
    {% endfor %}
</div>


<h1>Account {{ account_name }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'budgetdb:list_account_activity' pk %}?begin={{ month|date:'Y-m-d' }}&end={{ now|date:'Y-m-d' }}"> last 30 days </a>
    <a class="btn btn-info left" href="{% url 'budgetdb:list_account_activity' pk %}?begin={{ 3month|date:'Y-m-d' }}&end={{ now|date:'Y-m-d' }}"> last 90 days </a>
    <a class="btn btn-info left" href="{% url 'budgetdb:list_account_activity' pk %}?begin=2020-01-01&end=2021-12-31"> all </a>
    <a class="btn btn-info left" href="{% url 'budgetdb:list_account_activity' pk %}?begin=2020-01-01&end=2020-04-01"> begin </a>
</div>



<table style="width:100%">
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Amount</th>
        <th>Balance</th>
    </tr>

    {% for event in object_list  %}
    <tr {% if event.audit == 1 %} class="AUDIT" {% endif %}
    {% if event.budgetedevent_id != None and event.verified == 0 %} class="BUDGET" {% endif %}
    >
        <td>{{ event.date_actual|date:"Y-m-d" }}</td>
        <td><a href="{% url event.viewname event.id %}">{{ event.description }}</a></td>
        <td>{% if event.audit == 0 %} {{ event.cat1 }} {% endif %}</td>
        <td>{% if event.audit == 0 %} {{ event.cat2 }} {% endif %}</td>
        <td money>{{ event.calc_amount }}</td>
        <td money>{{ event.balance }}$</td>
    </tr>
    {% endfor %}
</table> 

{% endblock %}