{% extends "budgetdb/base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'budgetdb/style.css' %}">

{% block title %}Account Host List{% endblock %}

{% block content %}

{% if account_host_list %}
    <ul>
    {% for account_host in account_host_list %}
        <li><a href="{% url 'budgetdb:accounthost_max_redirect' account_host.id %}">{{ account_host.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No account hosts are available.</p>
{% endif %}

<div class="clearfix">
    <a class="btn btn-info top" href="{% url 'budgetdb:create_accounthost' %}">Create new host</a>
</div>

{% endblock %}