{% extends "budgetdb/base.html" %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" type="text/css" href="{% static 'budgetdb/style.css' %}">

{% block title %}Account List{% endblock %}

{% block content %}
<style>
    table>tr>:nth-child(2){
      text-align:right;
    }
    tbody>tr>:nth-child(3){
      text-align:right;
    }
    tbody>tr>:nth-child(4){
      text-align:right;
    }
    table>tr>:nth-child(2){
      text-align:right;
    }
    thead>tr>:nth-child(3){
      text-align:right;
    }
    thead>tr>:nth-child(4){
      text-align:right;
    }
    
</style>


{% if account_list %}
<table class="table table-hover table-striped">
    <thead class="thead-dark">
    <tr>
        <th class="ml-2">Host</th>
        <th class="ml-2">Name</th>
        <th class="ml-2">Owner</th>
        <th class="ml-2">Access</th>
        <th class="ml-4">parent</th>
        <th class="ml-4">Category</th>
    </tr>
    </thead>
    {% for account in account_list %}
    <tr>
        <td><a href="{% url 'budgetdb:accounthost_max_redirect' account.account_host.id %}">{{ account.account_host }}</a></td>
        <td><a href="{% url 'budgetdb:account_max_redirect' account.id %}">{{ account.name }}</a></td>
        <td>{{ account.owner|capfirst }}</td>
        <td>{% if account.can_edit %}
            Full
            {% else %}
            Read Only
            {% endif %} 
        </td>
        {% if account.account_parent == None %}
            <td></td>
        {% else %}
            <td><a href="{% url 'budgetdb:account_max_redirect' account.account_parent.id %}">{{ account.account_parent }}</a></td>
        {% endif %}     
        <td>
        {% for category in account.my_categories %}
            <a href="{% url 'budgetdb:accountcategory_max_redirect' category.id %}">{{ category.name }} </a>
            {% if forloop.revcounter > 1 %}
                <b> - </b>
            {%endif %}
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No accounts are available.</p>
{% endif %}

<div class="clearfix">
    <a class="btn btn-info top" href="{% url 'budgetdb:create_account' %}">Create new account</a>
    <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back();">Back</button>
</div>

{% endblock %}