{% extends "budgetdb/base.html" %}

{% block title %}Account Host - {{ object.name }}{% endblock %}

{% block content %}

    <h1>{{ object.name }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="clearfix">
    {% if object.editable %}
        <a class="btn btn-info top" href="{% url 'budgetdb:update_accounthost' object.id %}">Modify</a>
    {% endif %}
        <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back();">Back</button>
    </div>

{% endblock %}