{% extends "budgetdb/base.html" %}
{% block title %}{{ account_name }}{% endblock %}
{% block content %}

<style>
tbody>tr>:nth-child(1){
 width:10px;
 text-align:left;
}
tbody>tr>:nth-child(2){
 width:130px;
 text-align:left;
}
tbody>tr>:nth-child(3){
 width:300px;
 text-align:left;
}
tbody>tr>:nth-child(4){
 width:120px;
 text-align:left;
}
tbody>tr>:nth-child(5){
 width:120px;
 text-align:left;
}
tbody>tr>:nth-child(6){
 width:120px;
 text-align:left;
}
tbody>tr>:nth-child(7){
 width:100px;
 text-align:right;
}
tbody>tr>:nth-child(8){
 width:100px;
 text-align:right;
}

</style>

<h3>Account {{ account_name }}</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table >
    <tr>
        <th></th>
        <th>Date</th>
        <th>Description</th>
        <th>Recurrence</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Amount</th>
        <th>Balance</th>
    </tr>

    {% for event in object_list  %}
    <tr {% if event.audit == 1 %} class="AUDIT" 
        {% elif event.budgetedevent_id != None and event.verified == 0 %} class="BUDGET" 
        {% elif event.verified == 0 %} class="UNVERIFIED" 
        {% endif %}
    >
        <td><a href="{% url 'budgetdb:create_transaction_from_date_account' event.date_actual|date:'Y-m-d' pk %}">+</a></td>
        <td>{{ event.date_actual|date:'Y-m-d' }}</td>
        <td><a href="{% url 'budgetdb:update_transaction' event.id %}">{{ event.description }}</a></td>
        <td>{% if event.budgetedevent_id != None %} 
            <a href="{% url 'budgetdb:update_be' event.budgetedevent_id %}"> REP
            {% endif %}</td>
        <td>{% if event.audit == 0 %} {{ event.cat1 }} {% endif %}</td>
        <td>{% if event.audit == 0 %} {{ event.cat2 }} {% endif %}</td>
        <td money>{{ event.calc_amount }}</td>
        <td money>{{ event.balance }}</td>
    </tr>
    {% endfor %}
</table> 

{% endblock %}