{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'budgetdb/style.css' %}">
    <title>{% block title %}My Mess of a Budget App{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'budgetdb:index' %}">Home</a></li>
            <li><a href="{% url 'budgetdb:list_be' %}">Budgeted Events</a></li>
            <li><a href="{% url 'budgetdb:add_be' %}">add</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="navtools">
        {% block navtools %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>