{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}The I'm not crazy, you're crazy! Budget{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        {% csrf_token %}
        <div class="container" id="content">
            {% block content %}
            {% endblock %}
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>