{% extends "budgetdb/base.html" %}

{% block title %}Recurring Transactions{% endblock %}

{% block content %}
    <!--budgetedevent_list v2-->

    {% if budgetedevent_list %}
    <h2>Recurring Event List</h2>
    <ul>
    {% for budgetedevent in budgetedevent_list %}
        <li><a href="{% url 'budgetdb:details_be' budgetedevent.id %}">{{ budgetedevent.description }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No budgeted Events are available.</p>
{% endif %}
<div class="clearfix">
    <a class="btn btn-info top" href="{% url 'budgetdb:create_be' %}">Create new event</a>
</div>
{% endblock %}