{% extends "budgetdb/base.html" %}

{% block title %}Recurring Transaction - {{ object.description }}{% endblock %}

{% block content %}

    <style>
        li.UNVERIFIED {
        background-color: rgb(191, 199, 120)
        }
    </style>

    <!--budgetedevent_detail-->
    <div id="details">
        <h2>{{ object.description }}</h2>
        <ul>
            <li>Amount Planned: {{ object.amount_planned }}</li>
            <li>Source: 
                {% if object.account_source != None %} 
                    <a href="{% url 'budgetdb:list_account_activity' object.account_source.id %}"> {{ object.account_source }} </a> 
                {% endif %}
            </li>
            <li>Destination: 
                {% if object.account_destination != None %} 
                    <a href="{% url 'budgetdb:list_account_activity' object.account_destination.id %}"> {{ object.account_destination }} </a>
                    {% endif %}
            </li>
            <li>Category: {{ object.cat1 }}</li>
            <li>SubCategory: {{ object.cat2 }}</li>
            <li>Vendor:  {% if object.vendor != None %}  {{ object.vendor }} {% endif %}</li>    
        </ul>
    </div>
    {% if editable  %} 
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'budgetdb:update_be' object.id %}"> Modify </a>
    </div>
    {% endif %}
    <div id="transactionlist">
        <h2>List of transactions</h2>
        <ol>
        {% for transaction in next_transactions %}
            
            <li  {% if transaction.verified == 0 %} class="UNVERIFIED" {% endif %}
            >
            <a href="{% url 'budgetdb:update_transaction' transaction.id %}">{{ transaction.date_actual }}</a> - 
                {{ transaction.amount_actual }}$ - 
                {% if transaction.account_source != None %} From {{transaction.account_source}} {% endif %}
                {% if transaction.account_destination != None %} To {{transaction.account_destination}} {% endif %}                
                 </li>
        {% endfor %}
        </ol>
    </div>
{% endblock %}