{% extends "budgetdb/base.html" %}

{% block navtools %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'budgetdb:details_be' previous_be.id %}"> Previous: {{ previous_be.description }} </a>
    <a class="btn btn-info left" href="{% url 'budgetdb:details_be' next_be.id %} "> Next: {{ next_be.description }} </a>
</div>
{% endblock %}

{% block content %}
    <!--budgetedevent_detail-->
    <div id="details">
        <h2>{{ object.description }}</h2>
        <ul>
            <li>Amount Planned: {{ object.amount_planned }}</li>
            <li>Source: {{ object.account_source }}</li>
            <li>Destination: {{ object.account_destination }}</li>
            <li>Category: {{ object.cat1 }}</li>
            <li>SubCategory: {{ object.cat2 }}</li>
            <li>Vendor: {{ object.vendor }}</li>    
        </ul>
    </div>
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'budgetdb:update_be' object.id %}"> Modify </a>
    </div>
    <div id="transactionlist">
        <h2>List of transactions</h2>
        {% for transaction in next_transactions %}
            {{next_transactions.date_actual}}
            <li><a href="{% url 'budgetdb:details_transaction' transaction.id %}">{{ transaction.date_actual }}</a> - 
                {{ transaction.amount_actual }}$ - 
                {% if transaction.account_source != None %} From {{transaction.account_source}} {% endif %}
                {% if transaction.account_destination != None %} To {{transaction.account_destination}} {% endif %}
                {% if transaction.verified == False %} Not verified {% else %} Verified {% endif %}
                 </li>
        {% endfor %}
        
    </div>
{% endblock %}