{% extends "budgetdb/base.html" %}
{% load static %}

{% block title %}Categories{% endblock %}


<link rel="stylesheet" type="text/css" href="{% static 'budgetdb/style.css' %}">

{% block content %}

{% if categories_list %}
    <ul>
    {% for category in categories_list %}
        <li><a href="{% url 'budgetdb:details_cat1' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Category available.</p>
{% endif %}
<div class="clearfix">
    <a class="btn btn-info top" href="{% url 'budgetdb:create_cat1' %}">Create new Category</a>
</div>
{% endblock %}