{% extends "budgetdb/base.html" %}
{% load static %}

{% block title %}Subcategories{% endblock %}


<link rel="stylesheet" type="text/css" href="{% static 'budgetdb/style.css' %}">

{% block content %}

{% if subcategories_list %}

<table class="table table-hover table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Subcategory</th>
        <th>Category</th>
        <th>Category Type</th>
        <th>Budget Category</th>
    </tr>
    </thead>
    {% for subcategory in subcategories_list %}
    <tr>
        <td><a href="{% url 'budgetdb:cat2_max_redirect' subcategory.id %}">{{ subcategory.name }}</a></td>
        <td><a href="{% url 'budgetdb:cat1_max_redirect' subcategory.cat1.id %}">{{ subcategory.cat1 }}</a></td>
        <td><a href="{% url 'budgetdb:cattype_max_redirect' subcategory.cattype.id %}">{{ subcategory.cattype }}</a></td>
        <td>
        {% if subcategory.catbudget %}
            <a href="{% url 'budgetdb:catbudget_max_redirect' subcategory.catbudget.id %}">{{ subcategory.catbudget }} </a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No Subcategory available.</p>
{% endif %}

<div class="clearfix">
        <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back();">Back</button>
    </div>
    
{% endblock %}