{% extends "budgetdb/base.html" %}

{% block title %}Category Type - {{ cattype.name }}{% endblock %}

{% block content %}

<h1>{{ cattype.name }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="clearfix">
    
</div>

<div class="clearfix">
    {% if cattype.editable %}
    <a class="btn btn-info top" href="{% url 'budgetdb:update_cattype' cattype.id %}">Modify</a>
    <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back();">Back</button>

    {% endif %}

    </div>

{% endblock %}