{% extends "budgetdb/base.html" %}
{% load static %}

{% block head_comment %}<!--echart template-->{% endblock %}
{% block title %}{{echart_title}}{% endblock %}
{% block content %}
<div class="btn-group" >
    {% for account_category in accountcategories  %}
        {% if account_category.id != ac|add:"0" %}
            <a class="btn btn-outline-info " href="{% url 'budgetdb:timeline_chart' %}?ac={{ account_category.id }}"> {{account_category.name}} </a>
        {% endif %}
    {% endfor %}

        <a class="btn btn-outline-info " href="{% url 'budgetdb:timeline_chart' %}"> All </a>
 
</div>

<div class="row" >
    <div class="col " >
        <div class="card " >
            <div class="card-body" id="chartdiv" style="height:80vh; " ></div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"> </script>      
    <script type="text/javascript" src="{% static 'budgetdb/js/echarts_timeline.js' %}" 
            defer
            jsonurl="{% url 'budgetdb:timeline_option_json' %}?ac={{ ac }}"
            target="chartdiv"
            >
        </script>
{% endblock %}