<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #5865F2; color: #ffffff;">Sharing Invitation Email</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>Hi</p>
        <p>{{ inviter.first_name }} would like to share budget information with you,</p>
        <p>If you are interrested, you can create an account on the budget app here:</p>
        <a href="{{ domain }}{% url 'budgetdb:password_reset' email=email %}" style="border: 0; color: #ffffff; background-color: #5865F2; padding: 15px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            Create Account
        </a>
        <p style="margin-top: 40px;">Or you can copy the link below to your browser</p>
        <p>{{ domain }}{% url 'budgetdb:signup_with_email' email=email %}</p>
    </div>
</div>