{% extends "budgetdb/base.html" %}
{% load static %}

{% block navtools %}
<input type="text" class="js-range-slider" name="my_range" value="" />
{% endblock %}

{% block content %}
    <!--firstgraph v2-->
    <h1>Account Categories</h1>
    <div class="clearfix">
        {% for account_category in accountcategories  %}
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ begin }}&end={{ end }}&ac={{ account_category.id }}"> {{account_category.name}} </a>
        {% endfor %}
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ begin }}&end={{ end }}"> All </a>
    </div>
    <h3>Time Range</h3>
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin=2020-03-01&end=2021-03-15&ac={{ ac }}"> all </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin=2019-12-31&end=2020-12-31&ac={{ ac }}"> 2020 </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin=2020-12-31&end=2021-12-31&ac={{ ac }}"> 2021 </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ yearago }}&end={{ now }}&ac={{ ac }}"> past year </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ 3monthsago }}&end={{ now }}&ac={{ ac }}"> past 3 months </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ monthago }}&end={{ now }}&ac={{ ac }}"> past month </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ now }}&end={{ inamonth }}&ac={{ ac }}"> next month </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ now }}&end={{ in3months }}&ac={{ ac }}"> next 3 months </a>
        <a class="btn btn-info left" href="{% url 'budgetdb:line_chart' %}?begin={{ now }}&end={{ inayear }}&ac={{ ac }}"> next year </a>
    </div>
    <h1>{{ begin }} to {{ end }}</h1>

    <canvas id="myChart" style="width: 75%;"></canvas>

{% endblock %}

{% block script %}
<!--Plugin CSS file with desired skin-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--Plugin JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

<!--    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script> -->
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $.get('{% url "budgetdb:line_chart_json" %}?begin={{ begin }}&end={{ end }}&ac={{ ac }}', function(data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'line', data: data
            });
        });

        function my_datify (n) {
            n = n - 1;
            beginunix = {{ beginunix }};
            var date = new Date(beginunix);
            month = date.getMonth() + 1;
            date.setDate(date.getDate() + n);
            return date.getFullYear() + '-' + month + '-' + date.getDate();
            //return date;
        }

        $(".js-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            skin: "big",
            //prefix: ({{endunix}} - {{beginunix}})/(24*60*60),
            grid: true,
            min: 1,
            max: ({{ endunix }} - {{ beginunix }})/(24*60*60*1000),
            from: 1,
            to: ({{ endunix }} - {{ beginunix }})/(24*60*60*1000),
            prettify: my_datify
        });
    
    </script>
{% endblock %}