{% extends 'budgetdb/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Joined Transactions{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-1">
    <a href="{% url 'budgetdb:update_joinedtransactions' joinedtransactions.id pdate %}" class="btn btn-info" role="button"> {{ pdate }} </a>
    </div>
    <div class="col-md-10">
        {% if transactionPlannedDate != transactionActualDate %}
            <button type="button" class="btn btn-outline-info btn-block">{{joinedtransactions.name}}  -  {{ transactionPlannedDate }} <i class="fa fa-arrow-right"></i>
                {{ transactionActualDate }}</button>
        {% else %}
            <button type="button" class="btn btn-outline-info btn-block">{{joinedtransactions.name}}  -  {{ transactionPlannedDate }}</button>
        {% endif %}
        </div>
    <div class="col-md-1">
    <a href="{% url 'budgetdb:update_joinedtransactions' joinedtransactions.id ndate %} " class="btn btn-info" role="button"> {{ ndate }} </a>
    </div>
</div>

{% load crispy_forms_tags %}

{% crispy form %}
{% endblock %}

{% block script %}

{% endblock %}