{% extends "budgetdb/base.html" %}

{% block title %}Recurring Transactions{% endblock %}

{% block content %}
    <!--joinedtransactions_list v1-->

    {% if joined_transactions_list %}
        <h2>Joined Transactions List</h2>
        <ul>
        {% for jt in joined_transactions_list %}
            <li><a href="{% url 'budgetdb:details_joinedtransactionsconfig' jt.id %}">{{ jt.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No Joined Transactions are available.</p>
{% endif %}
<div class="clearfix">
    <a class="btn btn-info top" href="{% url 'budgetdb:create_joinedtransactions' %}">Create new connection</a>
</div>
{% endblock %}