{% extends 'budgetdb/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Joined Transactions{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-1">
    <button type="button" class="btn btn-info" href="{% url 'budgetdb:update_joined_transaction' joinedtransaction.id pdate %}"> {{ pdate }} </button>
    </div>
    <div class="col-md-10">
    <button type="button" class="btn btn-outline-info btn-block">{{joinedtransaction.name}}  -  {{ transactiondate }}</button>
    </div>
    <div class="col-md-1">
    <button type="button" class="btn btn-info" href="{% url 'budgetdb:update_joined_transaction' joinedtransaction.id ndate %} "> {{ ndate }} </button>
    </div>

</div>
  
  {% load crispy_forms_tags %}
  {% crispy form %}
{% endblock %}
{% block script %}

{% endblock %}