{% extends "budgetdb/base.html" %}

{% block title %}Joined Transaction - {{ joinedtransactions.name }}{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="row">
    <div class="col-md-1">
    <a href="{% url 'budgetdb:details_joinedtransactions' joinedtransactions.id pdate %}" class="btn btn-info" role="button"> {{ pdate }} </a>
    </div>
    <div class="col-md-10">
    {% if transactionPlannedDate != transactionActualDate %}
        <button type="button" class="btn btn-outline-info btn-block">{{joinedtransactions.name}}  -  {{ transactionPlannedDate }} <i class="fa fa-arrow-right"></i>
            {{ transactionActualDate }}</button>
    {% else %}
        <button type="button" class="btn btn-outline-info btn-block">{{joinedtransactions.name}}  -  {{ transactionPlannedDate }}</button>
    {% endif %}
    </div>
    <div class="col-md-1">
    <a href="{% url 'budgetdb:details_joinedtransactions' joinedtransactions.id ndate %} " class="btn btn-info" role="button"> {{ ndate }} </a>
    </div>
</div>

{% if transactions %}
    <table class="table">
        <thread>
            <tr>
                <th scole="col">Description</th>
                <th scole="col">Category</th>
                <th scole="col">Subcategory</th>
                <th scole="col">Source</th>
                <th scole="col">Destination</th>
                <th scole="col">Amount</th>
                <th scole="col">Deleted</th>
                <th scole="col">Verified</th>
            </tr>
        </thread>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td><a href="{% url 'budgetdb:transaction_max_redirect' transaction.id %}">{{ transaction.description }}</a></td>
                <td>{{ transaction.cat1 }}</td>
                <td>{{ transaction.cat2 }}</td>
                <td>{{ transaction.account_source }}</td>
                <td>{{ transaction.account_destination }}</td>
                <td>${{ transaction.amount_actual }}</td>
                <td>{% if transaction.is_deleted == 1 %} <span class="material-symbols-outlined">radio_button_checked</span>
                    {% else %} <span class="material-symbols-outlined">radio_button_unchecked</span> {% endif %} </td>
                <td>{% if transaction.verified == 1 %}  <span class="material-symbols-outlined">radio_button_checked</span>
                    {% else %} <span class="material-symbols-outlined">radio_button_unchecked</span> {% endif %} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Transaction.</p>
{% endif %}

<div class="clearfix">
    {% if joinedtransactions.editable %}
        {% if transactionPlannedDate != transactionActualDate %}
            <a class="btn btn-info top" href="{% url 'budgetdb:update_joinedtransactions' joinedtransactions.id transactionPlannedDate transactionActualDate%}">Modify</a>
        {% else %}
            <a class="btn btn-info top" href="{% url 'budgetdb:update_joinedtransactions' joinedtransactions.id transactionPlannedDate%}">Modify</a>
        {% endif %}
    {% endif %}
    <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back();">Back</button>
</div>


{% endblock %}