<script>
// load subcategories when the category changes
$("#id_cat1").change(function () {
    var url = "{% url 'budgetdb:ajax_load_cat2' %}";
    var cat1Id = $(this).val();    // get the selected cat1 ID from the HTML input
    // debugger;
    $.ajax({                       // initialize an AJAX request
        url: url,                    
        data: {
            'cat1': cat1Id             // add the cat1 id to the GET parameters
        },
        success: function (data) {   
            $("#id_cat2").html(data);  // replace the contents of the cat2 input with the data that came from the server
        }
    });
});
</script>