<script>
(function($) { // Pass $ as an argument
    var baseCurrency = "{{currency}}";

    function toggleForeignCurrency(currentVal) {
        // Use more specific selectors if possible to avoid unintended toggles
        var $div = $('div[id$="foreign_currency"]');
        var $input = $('input[id$="foreign_currency"]');

        if (currentVal === baseCurrency) {
            $div.addClass('visually-hidden');
            $input.attr('tabindex', '-1');
        } else {
            $div.removeClass('visually-hidden');
            $input.removeAttr('tabindex');
        }
    }

    // Wrap in document ready to be 100% safe
    $(function() {
        // 1. Listen for changes using delegation
        $(document).on('change', '#id_currency', function() {
            toggleForeignCurrency($(this).val());
        });

        // 2. Run the check when the modal opens
        $(document).on('shown.bs.modal', '#modal', function() {
            var $currencyField = $('#id_currency');
            if ($currencyField.length) {
                toggleForeignCurrency($currencyField.val());
            }
        });
        
        // 3. Initial check (for non-modal forms or page loads)
        var $initialCurrency = $('#id_currency');
        if ($initialCurrency.length) {
            toggleForeignCurrency($initialCurrency.val());
        }
    });
})(jQuery); // Execute immediately passing the jQuery object
</script>