<script>
var currency = "{{currency}}";
 
 $('#id_currency').change(function(){
     if($(this).val() == currency) {
         $('#div_id_amount_actual_foreign_currency').addClass('visually-hidden');
         $('#id_amount_actual_foreign_currency').attr('tabindex', '-1');
     } else {
         $('#div_id_amount_actual_foreign_currency').removeClass('visually-hidden');
         $('#id_amount_actual_foreign_currency').removeAttr('tabindex')

     }
 })
 
 $( document ).ready(function() {
     
     if($('#id_currency').val() == currency) {
         $('#div_id_amount_actual_foreign_currency').addClass('visually-hidden');
         $('#id_amount_actual_foreign_currency').attr('tabindex', '-1');
     } else {
         $('#div_id_amount_actual_foreign_currency').removeClass('visually-hidden');
         $('#id_amount_actual_foreign_currency').removeAttr('tabindex')
     }
     if($('#id_cat2').val() != 28) {
         $('#div_id_Fuel_L').addClass('visually-hidden');
         $('#id_Fuel_L').attr('tabindex', '-1');
         $('#div_id_Fuel_price').addClass('visually-hidden');  
         $('#id_Fuel_price').attr('tabindex', '-1');
     } else {
         $('#div_id_Fuel_L').removeClass('visually-hidden');
         $('#id_Fuel_L').removeAttr('tabindex')
         $('#div_id_Fuel_price').removeClass('visually-hidden');
         $('#id_Fuel_price').removeAttr('tabindex')
     }
 })
 
</script>