<script>
// needs to have "currency" added to the context of the form
var currency = "{{currency}}";
 
function showForeignCurrency() {
    $('div[id$=foreign_currency]').removeClass('visually-hidden');
    $('input[id$=foreign_currency]').removeAttr('tabindex')
}

function hideForeignCurrency() {
    $('div[id$=foreign_currency]').addClass('visually-hidden');
    $('input[id$=foreign_currency]').attr('tabindex', '-1');
}

 $('#id_currency').change(function(){
     if($(this).val() == currency) {
        hideForeignCurrency()
     } else {
        showForeignCurrency()
     }
 })
 
 $( document ).ready(function() {
     if($('#id_currency').val() == currency) {
        hideForeignCurrency()
     } else {
        showForeignCurrency()
     }
 })
 
</script>