<script type="text/javascript">
(function($) {
    window.togglereceiptT = function(transaction_id) {
        var data = {
            'transaction_id': transaction_id, 
            'csrfmiddlewaretoken': '{{csrf_token}}'
        };

        // Perform the POST request
        $.post('{% url "budgetdb:togglereceipttransaction_json" %}', data)
         .done(function(response) {
            // ONLY toggle the classes if the server actually succeeded
            $('#R' + transaction_id).toggleClass('RECEIPT NORECEIPT');
            $('#T' + transaction_id).toggleClass('RECEIPT NORECEIPT');
         })
         .fail(function() {
            console.error("Failed to toggle receipt for: " + transaction_id);
         });
    };
    
    window.toggleverifyT = function(transaction_id) {
        var data = {
            'transaction_id': transaction_id, 
            'csrfmiddlewaretoken': '{{csrf_token}}'
        };
        $.post('{% url "budgetdb:toggleverifytransaction_json" %}', data)
         .done(function(response) {
            // ONLY toggle the classes if the server actually succeeded
            $('#V' + transaction_id).toggleClass('VERIFIED UNVERIFIED');
            $('#T' + transaction_id).toggleClass('VERIFIED UNVERIFIED');
         })        
         .fail(function() {
            console.error("Failed to toggle verify for: " + transaction_id);
         });
    };

})(jQuery);
</script>