<script>
    function toggleverifyT(transaction_id){
        data = {'transaction_id': transaction_id, 'csrfmiddlewaretoken': '{{csrf_token}}'}
        $.post('{% url "budgetdb:toggleverifytransaction_json" %}', data );
        modifiedButton=document.getElementById('V'+transaction_id)
        modifiedButton.classList.toggle('UNVERIFIED');
        modifiedButton.classList.toggle('VERIFIED');
        modifiedtr=document.getElementById('T'+transaction_id)
        modifiedtr.classList.toggle('UNVERIFIED');
        modifiedtr.classList.toggle('VERIFIED');
    }
</script>