{% extends "budgetdb/base.html" %}
{% load static %}

{% block title %}Categories{% endblock %}


<link rel="stylesheet" type="text/css" href="{% static 'budgetdb/style.css' %}">

{% block content %}

{% if statement_list %}
    <ul>
    {% for statement in statement_list %}
        <li><a href="{% url 'budgetdb:details_statement' statement.id %}">{{ statement.account }} {{ statement.statement_date }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Statement available.</p>
{% endif %}
<div class="clearfix">
    <a class="btn btn-info top" href="{% url 'budgetdb:create_statement' %}">Create new Statement</a>
</div>
{% endblock %}