{% extends 'budgetdb/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Statement form{% endblock %}

{% csrf_token %}

{% block content %}
  <h2>Statement</h2>
  {% load crispy_forms_tags %}
  {% if context.form_invalid %}
    <div class="alert alert-danger" role="alert">
        {{ context.form_invalid }}
    </div>
  {% endif %}
  {% crispy form %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<script>

$("#id_account").change(function () {
      var url = "{% url 'budgetdb:ajax_load_payment_transaction' %}";
      var accountid = $(this).val();  

      $.ajax({                       // initialize an AJAX request
        url: url,                   
        data: {
          'account': accountid      
        },
        success: function (data) {   // `data` is the return of the `load_payment_transaction` view function
          $("#id_payment_transaction").html(data);  // replace the contents of transaction input with the data that came from the server
        }
      });

    });
</script>
{% endblock %}