{% extends "budgetdb/base.html" %}
{% block head_comment %}<!--statement_detail template-->{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>Statement {{ statement.statement_date|date:"Y-m-d"  }} for <a href="{% url 'budgetdb:list_account_activity_period' statement.account.id date1 date2 %}?sort=date_actual" >{{ statement.account.name }}</a></h1>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th></th>
        <th>Balance</th>
        <th>Minimum Payment</th>
        <th>Due Date</th>
    </tr>
    </thead>
    <tr>
        <td>{{ statement.statement_date|date:"Y-m-d"  }}</td>
        <td>{{ statement.balance }}$</td>
        <td>{{ statement.minimum_payment }}$</td>
        <td>{{ statement.statement_due_date|date:"Y-m-d"  }}</td>
    </tr>
    {% if statement.error != 0 %}
    <tr>
        <td></td>
        <td>Transactions total: {{ statement.transactions_sum }}$</td>
        {% if statement.errorsign == '-' %}
            <td>error: Missing transactions for {{ statement.error }}$ </td>
        {% else %}
            <td>error: Too many transactions by {{ statement.error }}$ </td>
        {% endif %}
        <td></td>
    </tr>
    {% endif %}



</table>


{% if statement.payment_transaction %}
<h5>Payment: {{ statement.payment_transaction.amount_actual }}$ on {{ statement.payment_transaction.date_actual }} from account  {{ statement.payment_transaction.account_source }}</h5>
{% else %}
<h5>No payment linked</h5>
{% endif %}

<div class="clearfix">
    {% if statement.editable %}
        <a href="{% url 'budgetdb:update_statement' statement.id %}" class="btn btn-outline-primary" role="button"> Modify </a>
    {% endif %}
    <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.back();">Back</button>
</div>
{% if statement.included_transactions %}
<h2>Transactions {{ statement.transactions_sum }}$</h2>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
    <tr>
        <th>date</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    </thead>
    {% for transaction in statement.included_transactions %}
    <tr>
        <td>{{ transaction.date_actual|date:"Y-m-d"  }}</td>
        <td><a href="{% url 'budgetdb:transaction_max_redirect' transaction.id %}">{{ transaction.description }}</a></td>
        <td>{{ transaction.amount_actual }}$</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No transaction in this statement.</p>
{% endif %}


{% if statement.possible_transactions %}
<form method="post">
    {% csrf_token %}
<h2>Potential Transactions, {{ statement.transactions_sumP }}$</h2>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
    <tr>
        <th><input type="checkbox" id="select-all"> select all</th>
        <th>date</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    </thead>
    {% for transaction in statement.possible_transactions %}
        <tr>
            <td><input type="checkbox" name="selected" value="{{ transaction.id }}"></td>
            <td>{{ transaction.date_actual|date:"Y-m-d"  }}</td>
            <td><a href="{% url 'budgetdb:transaction_max_redirect' transaction.id %}">{{ transaction.description }}</a></td>
            <td>{{ transaction.amount_actual }}$</td>
        </tr>
    {% endfor %}
</table>
{% if statement.editable %}
    <button class="btn btn-outline-primary" type="submit">Add the selected transactions to this statement</button>
{% endif %}
</form>
{% endif %}


{% endblock %}

{% block script %}
<script>
document.getElementById("select-all").addEventListener("change", function () {
    document.querySelectorAll('input[name="selected"]').forEach(cb => {
        cb.checked = this.checked;
    });
});
</script>
{% endblock %}