{% extends 'budgetdb/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Statement form{% endblock %}

{% csrf_token %}

{% block content %}
    <h2>Statement</h2>
    {% load crispy_forms_tags %}
    {% if context.form_invalid %}
        <div class="alert alert-danger" role="alert">
            {{ context.form_invalid }}
        </div>
    {% endif %}
    {% crispy form %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {  <!--  read me!!!   -->
            // Listen for changes on the account dropdown
            $("#id_account, #id_statement_date").change(function () {
                debugger
                const url = "{% url 'budgetdb:ajax_load_payment_transaction' %}";
                const accountId = $("#id_account").val();
                const sDate = $("#id_statement_date").val();

                $.ajax({
                    url: url,
                    data: {
                        'account_id': accountId,
                        'statement_date': sDate
                    },
                    success: function(data) {
                            let html_data = '<option value="">Select a transaction</option>';
                            data.forEach(function (item) {
                                html_data += `<option value="${item.id}">${item.text}</option>`;
                            });
                            $("#id_payment_transaction").html(html_data);
                    }
                });
            });
        });
    </script>
{% endblock %}