{% extends "budgetdb/base.html" %}
{% load static %}

{% block content %}
    <h1>Account Categories</h1>
    <div class="clearfix">
        {% for account_category in accountcategories  %}
            <a class="btn btn-info left" href="{% url 'budgetdb:timeline_chart' %}?ac={{ account_category.id }}"> {{account_category.name}} </a>
        {% endfor %}
            <a class="btn btn-info left" href="{% url 'budgetdb:timeline_chart' %}"> All </a>
    </div>

    <canvas id="myChart" style="width: 75%;"></canvas>

{% endblock %}

{% block script %}

<!--jQuery is loaded by base template-->
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">

        const verticalLinePlugin = {
        getLinePosition: function (chart, pointIndex) {
            const meta = chart.getDatasetMeta(0); // first dataset is used to discover X coordinate of a point
            const data = meta.data;
            return data[pointIndex]._model.x;
        },
        renderVerticalLine: function (chartInstance, pointIndex) {
            if (pointIndex != null) {
                const lineLeftOffset = this.getLinePosition(chartInstance, pointIndex);
                const scale = chartInstance.scales['y-axis-0'];
                const context = chartInstance.chart.ctx;

                // render vertical line
                context.beginPath();
                context.strokeStyle = '#ff0000';
                context.moveTo(lineLeftOffset, scale.top);
                context.lineTo(lineLeftOffset, scale.bottom);
                context.stroke();

                // write label
                context.fillStyle = "#ff0000";
                context.textAlign = 'center';
                context.fillText('Today', lineLeftOffset, (scale.bottom - scale.top) / 2 + scale.top);
            }
        },

        afterDatasetsDraw: function (chart, easing) {
            if (chart.config.lineAtIndex) {
                chart.config.lineAtIndex.forEach(pointIndex => this.renderVerticalLine(chart, pointIndex));
            }
        }
        };

        Chart.plugins.register(verticalLinePlugin);


        var myChart;
        var ctx;

        $.get('{% url "budgetdb:timeline2_chart_json_old" %}?ac={{ ac }}', function(data) {
            ctx = $("#myChart").get(0).getContext("2d");
            myChart = new Chart(ctx, {
                type: 'line', 
                data: data,
                lineAtIndex: [data.index_today],
                options: {
                    tooltips: {
                        mode: 'label',
                        callbacks: {
                            afterTitle: function() {
                                window.total = 0;
                            },
                            label: function(tooltipItem, data) {
                                var corporation = data.datasets[tooltipItem.datasetIndex].label;
                                if (corporation != "TOTAL" && corporation != "Total") {
                                    var valor = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                    window.total += +valor;
                                    return corporation + ": " + valor.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")+"$";             
                                }
                            },
                            footer: function() {
                                var total = window.total.toFixed(2)
                                return "TOTAL: " + total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")+"$";
                            }
                        }
                    }
                }
            });
            //addTotal(myChart);
        });


        function addTotal(chart) {
            const data = chart.data;
            
            for (var i = 0; i < data.datasets.length; i++) {
                if (data.datasets[i].label == 'Totalauto')
                    data.datasets.splice(i,1)
            }

            var total = [];
            for (var j = 0; j < data.labels.length; j++ ) {
                total.push(0)
                for (var i = 0; i < data.datasets.length; i++)
                    if (!(data.datasets[i]._meta.hidden == true))
                        total[j] += +data.datasets[i].data[j];
            }


            const newDataset = {
                label: 'Totalauto',
                backgroundColor: 'rgba(0,0,0, 0.5)',
                borderColor: 'rgba(0,0,0, 1)',
                data: total,
            };
            chart.data.datasets.push(newDataset);
            chart.update();
        };

        function onRangeUpdate(begin_interval, end_interval){
            
        };

        var timeline_chart = document.getElementById("myChart");
        window.addEventListener('click', function(e){
            if (timeline_chart.contains(e.target)){
                var activePoints = myChart.getElementAtEvent(event);
                if (activePoints.length > 0) {
                    var clickedDatasetIndex = activePoints[0]._datasetIndex;
                    var clickedElementindex = activePoints[0]._index;
                    var label = myChart.data.datasets[clickedDatasetIndex].label;
                    var value = myChart.data.datasets[clickedDatasetIndex].data[clickedElementindex];  
                    var date = myChart.data.labels[clickedElementindex];
                    var index = myChart.data.datasets[clickedDatasetIndex].index;  
                    // alert("Clicked: " + label + " - " + value + " - " + date);
                    newUrl = '{% url "budgetdb:list_account_activity" 12345 %}?begin=' + date
                    newUrl=newUrl.replace(/12345/,index.toString())
                    window.location.href = newUrl;
                }
               // else addTotal(myChart)
            }
        });
    </script>
{% endblock %}