{% extends "budgetdb/base.html" %}

{% block content %}

<h1>{{ transaction.description }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="details">
    <ul>
        <li>Amount Planned: {{ transaction.amount_actual }}</li>
        <li>Source: {{ transaction.account_source }}</li>
        <li>Destination: {{ transaction.account_destination }}</li>
        <li>Category: {{ transaction.cat1 }}</li>
        <li>SubCategory: {{ transaction.cat2 }}</li>
        <li>Vendor: {{ transaction.vendor }}</li>  
        <li>budgetedevent: {{ transaction.budgetedevent }}</li>  
        <li>Verified ?: {{ transaction.verified }}</li>  
          
    </ul>
</div>
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'budgetdb:update_transaction' transaction.id %}"> Modify </a>
</div>

{% endblock %}