{% extends 'budgetdb/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Transaction Form{% endblock %}

{% csrf_token %}

{% block content %}
  <h2>Transaction Form</h2>
  {% load crispy_forms_tags %}
  {% if context.form_invalid %}
    <div class="alert alert-danger" role="alert">
        {{ context.form_invalid }}
    </div>
  {% endif %}
  {% crispy form %}
{% endblock %}
{% block script %}
    {% include "budgetdb/js/js_unit_price.html" %}
    {% include "budgetdb/js/js_currency.html" %}
{% endblock %}