{% extends 'budgetdb/basecrispy.html' %}
{% block head_comment %}<!--Transaction_popup_form template-->{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if context.form_invalid %}
        <div class="alert alert-danger" role="alert">
            {{ context.form_invalid }}
        </div>
    {% endif %}
    {% crispy form %}
{% endblock %}
{% block script %}
    {% include "budgetdb/js_cat1-cat2.html" %}
    {% include "budgetdb/js_currency.html" %}
{% endblock %}