{% extends 'budgetdb/base_modal.html' %}
{% block head_comment %}<!--Transaction_modal_form template-->{% endblock %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
    <H5  style="text-align: center;">{{object.account_source}}</H5>
    {{ form.media }}
    {% if context.form_invalid %}
        <div class="alert alert-danger" role="alert">
            {{ context.form_invalid }}
        </div>
    {% endif %}
    {% crispy form %}
{% endblock %}
{% block script %}

    {% include "budgetdb/js/js_template_from_vendor.html" %}
    {% include "budgetdb/js/js_cat1-cat2.html" %}    
    {% include "budgetdb/js/js_unit_price.html" %}
    {% include "budgetdb/js/js_currency.html" %}

{% endblock %}