<form method=<s>"post"</s> action=<s>""</s>>
    {% csrf_token %}
  
   <div class=<s>"modal-header"</s>>
      <h5 class=<s>"modal-title"</s>>Update Transaction</h5>
      <button type=<s>"button"</s> class=<s>"close"</s> data-dismiss=<s>"modal"</s> aria-label=<s>"Close"</s>>
        <span aria-hidden=<s>"true"</s>>&times;</span>
      </button>
    </div>
  
    <div class=<s>"modal-body"</s>>
      {% for field in form %}
        <div class=<s>"form-group{% if field.errors %} invalid{% endif %}"</s>>
          <label for=<s>"{{ field.id_for_label }}"</s>>{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            <p class=<s>"help-block"</s>>{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  
    <div class=<s>"modal-footer"</s>>
      <button type=<s>"button"</s> class=<s>"btn btn-default"</s> data-dismiss=<s>"modal"</s>>Close</button>
      <button type=<s>"submit"</s> class=<s>"btn btn-primary"</s>>Create</button>
    </div>
  
  </form>