{% extends 'budgetdb/basecrispy.html' %}
{% block head_comment %}<!--Transaction_popup_form template-->{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% load crispy_forms_tags %}
{% block content %}
  {% if context.form_invalid %}
    <div class="alert alert-danger" role="alert">
        {{ context.form_invalid }}
    </div>
  {% endif %}
  {% crispy form %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<script>
var currency = "{{currency}}";

$("#id_cat1").change(function () {
    var url = "{% url 'budgetdb:ajax_load_cat2' %}";
    var cat1Id = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {
        'cat1': cat1Id       // add the country id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_cat2").html(data);  // replace the contents of the city input with the data that came from the server
    }
    });

});
 
$('#id_currency').change(function(){
    if($(this).val() == currency) {
        $('#div_id_amount_actual_foreign_currency').addClass('visually-hidden');
    } else {
        $('#div_id_amount_actual_foreign_currency').removeClass('visually-hidden');
    }
})

$('#id_cat2').change(function(){
    if($(this).val() != 28) {
        $('#div_id_Fuel_L').addClass('visually-hidden');
        $('#div_id_Fuel_price').addClass('visually-hidden');
    } else {
        $('#div_id_Fuel_L').removeClass('visually-hidden');
        $('#div_id_Fuel_price').removeClass('visually-hidden');
    }
})

$( document ).ready(function() {
    
    if($('#id_currency').val() == currency) {
        $('#div_id_amount_actual_foreign_currency').addClass('visually-hidden');
    } else {
        $('#div_id_amount_actual_foreign_currency').removeClass('visually-hidden');
    }
    if($('#id_cat2').val() != 28) {
        $('#div_id_Fuel_L').addClass('visually-hidden');
        $('#div_id_Fuel_price').addClass('visually-hidden');
    } else {
        $('#div_id_Fuel_L').removeClass('visually-hidden');
        $('#div_id_Fuel_price').removeClass('visually-hidden');
    }
})



</script>
{% endblock %}