{% extends 'budgetdb/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Transaction for {{ now_year }}-{{ now_month }}{% endblock %}

{% block content %}

<table class="table table-hover table-sm w-auto"  id="transactionlist">

      <thead>
<tr>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
    <th scope="col">amount</th>
    <th scope="col">Source</th>
    <th scope="col">Destination</th>
    <th scope="col">Category</th>
    <th scope="col">Subcategory</th>
    <th scope="col">Recurence</th>
</tr>
<tr>
    <td scope="row">
        <input type="text" class="form-control" id="myDate" onkeyup="myFunctionDate()" placeholder="filter"></td>
    <td><input type="text" class="form-control" id="myDesc" onkeyup="myFunctionDesc()" placeholder="filter"></td>
    <td><input type="text" class="form-control" id="myAmm" onkeyup="myFunctionAmm()" placeholder="filter"></td>
    <td><input type="text" class="form-control" id="mySource" onkeyup="myFunctionSource()" placeholder="filter"></td>
    <td><input type="text" class="form-control" id="myDest" onkeyup="myFunctionDest()" placeholder="filter"></td>
    <td><input type="text" class="form-control" id="myCat1" onkeyup="myFunctionCat1()" placeholder="filter"></td>
    <td><input type="text" class="form-control" id="myCat2" onkeyup="myFunctionCat2()" placeholder="filter"></td>
    <td><input type="text" class="form-control" id="myBE" onkeyup="myFunctionBE()" placeholder="filter"></td>
</tr>
</thead>
<tbody>
{% for event in object_list reversed %}
<tr>
    <td scope="row">{{ event.date_actual|date:'Y-m-d' }}</td>
    <td><a href="{% url 'budgetdb:transaction_max_redirect' event.id %}">{{ event.description }}</a></td>
    <td>{{ event.amount_actual }}</td>
    <td>{{ event.account_source }}</td>
    <td>{{ event.account_destination }}</td>
    <td>{{ event.cat1 }}</td>
    <td>{{ event.cat2 }}</td>
    <td>{% if event.budgetedevent_id != None %} 
            <a href="{% url 'budgetdb:budgetedevent_max_redirect' event.budgetedevent_id %}">{{ event.budgetedevent }}</a>
        {% else %}
            None
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block script %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


<script>
    var filters = [];
    function filter(input, index) {
        var filter, table, lines, fields, i, txtValue;
        table = document.getElementById("transactionlist");
        lines = table.getElementsByTagName("tr");
        for (i = 2; i < lines.length; i++) {
            fields = lines[i].getElementsByTagName("td");
            var showline = 1
            for (j=0; j < fields.length; j++)
                if (filters[j]) {
                    if (fields[j]) {
                    txtValue = fields[j].textContent || fields[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filters[j]) < 0) {
                        showline = 0;
                    } 
                }
            }
            if (showline == 1) {
                lines[i].style.display = "";
            } else {
                lines[i].style.display = "none";
            }
        }
    }

    function myFunctionDate() {
      var input;
      filters[0] = document.getElementById("myDate").value.toUpperCase();;
      filter(input,0)
    }
    function myFunctionDesc() {
      var input;
      filters[1] = document.getElementById("myDesc").value.toUpperCase();;
      filter(input,1)
    }
    function myFunctionAmm() {
      var input;
      filters[2] = document.getElementById("myAmm").value.toUpperCase();;
      filter(input,2)
    }
    function myFunctionSource() {
      var input;
      filters[3] = document.getElementById("mySource").value.toUpperCase();;
      filter(input,3)
    }
    function myFunctionDest() {
      var input;
      filters[4] = document.getElementById("myDest").value.toUpperCase();;
      filter(input,4)
    }
    function myFunctionCat1() {
      var input;
      filters[5] = document.getElementById("myCat1").value.toUpperCase();;
      filter(input,5)
    }
    function myFunctionCat2() {
      var input;
      filters[6] = document.getElementById("myCat2").value.toUpperCase();;
      filter(input,6)
    }
    function myFunctionBE() {
      var input;
      filters[7] = document.getElementById("myBE").value.toUpperCase();;
      filter(input,7)
    }
    </script>
{% endblock %}
