name: Django CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
          DB_HOST: 127.0.0.1
          DB_NAME: budget_db_test
          DB_USER: root
          DB_PORT: 3306
          DEBUG: "False"
          ALLOWED_HOSTS: "localhost,127.0.0.1"
          EMAIL_HOST_USER: "budgetdbtest"
          EMAIL_HOST_PASSWORD: "testpw"
          EMAIL_PORT: 587
          PIP_ROOT_USER_ACTION: ignore
          EMAIL_BACKEND: "django.core.mail.backends.smtp.EmailBackend"
          EMAIL_HOST: "budgetdb.test"
          EMAIL_USE_SSL: "False"
          EMAIL_USE_TLS: "True"
          # Mapping your GitHub Secrets to Env Variables
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.DB_PASSWORD }}
          MYSQL_DATABASE: budget_db_test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y default-libmysqlclient-dev build-essential pkg-config

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Migrations
      env:
        DB_HOST: 127.0.0.1
        DB_NAME: budget_db_test
        DB_USER: root
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      run: python manage.py migrate

    - name: Lint with Flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Run Tests
      run: python manage.py test